.side {
	/* margin-left: 50%; */
	font-size: large;
	color: #ffffff;
}

@media screen and (min-width: 750px) {
	.side {
		margin-left: 10%;
	}
}

@media screen and (min-width: 900px) {
	.side {
		margin-left: 10%;
	}
}

@media screen and (min-width: 1000px) {
	.side {
		margin-left: 30%;
	}
}

@media screen and (min-width: 1200px) {
	.side {
		margin-left: 40%;
	}
}

@media screen and (min-width: 1380px) {
	.side {
		margin-left: 45%;
	}
}

@media screen and (min-width: 1500px) {
	.side {
		margin-left: 50%;
	}
}

@media screen and (min-width: 1800px) {
	.side {
		margin-left: 67%;
	}
}

@media screen and (min-width: 2000px) {
	.side {
		margin-left: 77%;
	}
}

@media screen and (min-width: 2200px) {
	.side {
		margin-left: 80%;
	}
}

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 15px 0;
	background: rgba(255, 255, 255, 0.064);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.1px);
	-webkit-backdrop-filter: blur(3.1px);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.start-header.scroll-on {
	background: rgba(255, 255, 255, 0.14);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.1px);
	-webkit-backdrop-filter: blur(3.1px);
	padding: 10px 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
	height: 24px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.navigation-wrap {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.navbar {
	padding: 0;
}

.navbar-brand img {
	height: 28px;
	width: auto;
	display: block;
	filter: brightness(10%);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}

.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid rgb(255, 255, 255);
	transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: rgb(255, 255, 255);
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
	top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

.nav-link {
	color: #000;
	font-weight: 500;
	transition: all 200ms linear;
}

.nav-logo{
	scale: 1.8;
	margin-left: 0px;
}
@media only screen and (max-width: 750px){
    .nav-logo{
		margin-left: 40px;
	}
}

@media only screen and (min-width: 720px) {
	.nav-link {
		/* background: linear-gradient(to right, #c5dbf0, rgb(135, 178, 206));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; */
	}
}

.nav-item:hover .nav-link {
	color: white !important;
}

.nav-item.active .nav-link {
	color: white !important;
}

.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
	
}

.nav-item:after {
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: rgba(255, 255, 255, 0.525);
	opacity: 0;
	transition: all 200ms linear;
}

.nav-item:hover:after {
	bottom: 0;
	opacity: 1;
}

.nav-item.active:hover:after {
	opacity: 0;
}

.nav-item {
	position: relative;
	transition: all 200ms linear;
}

@media (max-width: 767px) {

	.nav-item:after {
		display: none;
	}

	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
}

.shadow__btn {
	margin-left: 10px;
	-webkit-text-fill-color: white;
	padding: 10px 20px;
	border: none;
	font-size: 16px;
	color: #fff;
	border-radius: 7px;
	letter-spacing: 4px;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.5s;
	transition-property: box-shadow;
}

.shadow__btn {
	background: rgb(0, 140, 255);
	box-shadow: 0 0 17px rgb(0, 140, 255);
}

.shadow__btn:hover {
	box-shadow: 0 0 5px rgb(0, 140, 255),
		0 0 25px rgb(0, 140, 255),
		0 0 50px rgb(0, 140, 255),
		0 0 100px rgb(0, 140, 255);
}

.nav-login-btn,.nav-login-btn::after {
	-webkit-text-fill-color: #ACAEFE;
	padding: 10px 50px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	color: #ACAEFE;
	background-color: transparent;
	position: relative;
	display: block;
	border: 1px solid #ACAEFE;
  }

.nav-login-btn::after {
	--move1: inset(50% 50% 50% 50%);
	--move2: inset(31% 0 40% 0);
	--move3: inset(39% 0 15% 0);
	--move4: inset(45% 0 40% 0);
	--move5: inset(45% 0 6% 0);
	--move6: inset(14% 0 61% 0);
	clip-path: var(--move1);
	content: 'LOGIN';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
  }
  
  .nav-login-btn:hover::after {
	animation: glitch_4011 1s;
	text-shadow: 10 10px 10px black;
	animation-timing-function: steps(2, end);
	text-shadow: -3px -3px 0px #c1c2ff, 3px 3px 0px #A4BEE1;
	background-color: transparent;
	border: 3px solid #ACAEFE;
  }
  
  .nav-login-btn:hover {

	text-shadow: -1px -1px 0px #c1c2ff, 1px 1px 0px #A4BEE1;
  }
  .nav-login-btn:hover .nav-item:after{
	height: 0px;
  }

  .nav-login-btn:hover {

	background-color: transparent;
	border: 1px solid #ACAEFE;
	box-shadow: 0px 10px 10px -10px #ACAEFE;
  }
  
  @keyframes glitch_4011 {
	0% {
	  clip-path: var(--move1);
	  transform: translate(0px,-10px);
	}
  
	10% {
	  clip-path: var(--move2);
	  transform: translate(-10px,10px);
	}
  
	20% {
	  clip-path: var(--move3);
	  transform: translate(10px,0px);
	}
  
	30% {
	  clip-path: var(--move4);
	  transform: translate(-10px,10px);
	}
  
	40% {
	  clip-path: var(--move5);
	  transform: translate(10px,-10px);
	}
  
	50% {
	  clip-path: var(--move6);
	  transform: translate(-10px,10px);
	}
  
	60% {
	  clip-path: var(--move1);
	  transform: translate(10px,-10px);
	}
  
	70% {
	  clip-path: var(--move3);
	  transform: translate(-10px,10px);
	}
  
	80% {
	  clip-path: var(--move2);
	  transform: translate(10px,-10px);
	}
  
	90% {
	  clip-path: var(--move4);
	  transform: translate(-10px,10px);
	}
  
	100% {
	  clip-path: var(--move1);
	  transform: translate(0);
	}
  }
  
  
.navbar li {
	display: flex;
	align-items: center;
}

.login-desk {
	display: none;
}

.login-mobile {
	display: inline-block;
	
}

@media only screen and (min-width:720px){
	.login-desk{
		display: inline-block;
	}
	.login-mobile{
		display: none;
	}
}

@media only screen and (max-width:720px){
	.mob{
		margin: 5px;
	}
}